/*body {*/
/*	background-color: black;*/
/*	font-family: Arial, Helvetica, sans-serif;*/
/*	margin-left: 32px;*/
/*}*/

/*.wd-search-section {*/
/*	height: 30px;*/
/*	display: flex;*/
/*	flex-direction: row;*/
/*	align-content: center;*/
/*	border-left: rgb(47, 51, 54) 1px solid;*/
/*	padding-left: 16px;*/
/*}*/

.wd-search-section {
	width: 100%;
}

.wd-search-input {
	width: 100%;

}


/*.wd-settings-div {*/
/*	width: 10%;*/
/*	text-align: right;*/
/*	margin-top: 5px;*/
/*}*/

/*.wd-settings {*/
/*	margin-right: 12px;*/
/*	color:  rgb(29,161,242);*/
/*	font-size: 1.2rem;*/
/*}*/


/*.wd-search-bar {*/
/*	width: 90%;*/
/*	border-radius: 15px;*/
/*	border-color: black;*/
/*	height: 100%;*/
/*	width: 100%;*/
/*	background-color: rgb(47, 51, 54);*/
/*	color: white;*/
/*}*/
/*.wd-search-icon {*/
/*	position: relative;*/
/*	top: 5px;*/
/*	margin: auto 2px auto 5px;*/
/*	color: white;*/
/*}*/

/*.wd-search-input {*/
/*	position: relative;*/
/*	top: 3px;*/
/*	width: 90%;*/
/*	background-color: rgb(47, 51, 54);*/
/*	border: none;*/
/*	outline: none;*/
/*	color: white;*/
/*}*/

/*.wd-width-one-sixth {*/
/*	width: 16.667%;*/
/*}*/

/*.wd-tabs-section {*/
/*	height: 50px;*/
/*	display: flex;*/
/*	flex-direction: row;*/
/*	border-bottom: rgb(47, 51, 54) 2px solid;*/

/*	border-left: rgb(47, 51, 54) 1px solid;*/

/*}*/

/*.wd-tab-content {*/
/*	padding: 16px;*/
/*	font-size: 15px;*/
/*	color: rgb(110,118,125);*/
/*	font-weight: bolder;*/
/*	text-align: center;*/
/*}*/

/*.wb-tab-selected {*/
/*	color: rgb(29,161,242);*/
/*	border-bottom: rgb(29,161,242) solid 4px;*/
/*}*/

/*.wd-break {*/
/*	height: 5px;*/
/*	background-color: rgb(47, 51, 54);*/
/*}*/

/*.wd-trending-topic{*/
/*	color: white;*/
/*	padding-left: 18px;*/
/*	border: 1px solid rgb(47, 51, 54);*/
/*	border-left: 1px solid rgb(47, 51, 54);*/
/*	border-right: 1px solid rgb(47, 51, 54);*/

/*}*/

/* p {*/
/*	font-size: 13px;*/
/*	color: rgb(110,118,125);*/

/*}*/

/*h1 {*/
/*	font-weight: bold;*/
/*	color: white;*/
/*	font-size: 14px;*/
/*	margin-top: -8px;*/
/*	margin-bottom:-8px;*/
/*}*/

/*.wd-trending-topic-picture {*/
/*	color: white;*/
/*	border: 1px solid rgb(47, 51, 54);*/
/*	padding-left: 18px;*/
/*	height: 120px;*/
/*}*/

/*.wd-trending-topic-picture p{*/
/*	font-size: 13px;*/
/*}*/


/*img{*/
/*	width: 100px;*/
/*	height: 100px;*/
/*	border-radius: 20px;*/
/*	float: right;*/
/*	position: relative;*/
/*	top: -32px;*/
/*	margin-right: 16px;*/
/*}*/

/*.wd-trending-account-post {*/
/*	border: 1px solid rgb(47, 51, 54);*/
/*	height: 120px;*/
/*	padding-left: 18px;*/
/*	padding-bottom: 16px;*/
/*}*/

/*.wd-trending-account-user {*/
/*	display: flex;*/
/*	flex-direction: row;*/
/*	align-items: top;*/
/*	margin-bottom: -25px;*/
/*}*/

/*.wd-profile-pic {*/
/*	height: 30px;*/
/*	width: 30px;*/
/*	float: left;*/
/*	margin-top: 40px;*/
/*}*/

/*.wd-account-name {*/
/*	font-weight: bolder;*/
/*	color: white;*/
/*	margin-right: 4px;*/
/*}*/

/*.wd-verified-check-icon {*/
/*	color:  white;*/
/*	font-size: 1rem;*/
/*	position: relative;*/
/*	top: 12px;*/

/*	left: 5px;*/
/*}*/

/*.wd-ellipsis {*/
/*	color: white;*/
/*	position: relative;*/
/*	float: right;*/
/*	left: 80px;*/
/*	top: 10px;*/
/*}*/

.bg-color-blue {
	background-color: blue;
}

.bg-color-green {
	background-color: green;
}

.bg-color-red {
	background-color: red;
}

.bg-color-white {
	background-color: white;
}

.tweet-btn {
	width: 100%;
	margin-top: 5px;
	border-radius: 60px;
}